<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaixaoPorFilmesESeries.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>795E5CF42DE67CB400F05215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>795E5D0A2DE67CB600F05215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>795E5D142DE67CB600F05215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
